<div class = " container-fluid">
  <div class = "col-lg-4 col-sx-12"  style="text-align: center">
      <a style="color:rgb(255, 153, 0); text-align: center" href="https://www.w3schools.com">Politica de privacidad</a>  
  </div>
  <div class = " col-lg-4 col-sx-12"  style="text-align: center">
      <a style="color:rgb(255, 153, 0); text-align: center" href="https://www.w3schools.com">Acerca de nosotros</a>  
  </div>
  <div class = "col-lg-4 col-sx-12" style="text-align: center">
      <a style="color:rgb(255, 153, 0);" href="https://www.w3schools.com">Formulario contacto</a>  
  </div>
  <p class = "col-lg-12 col-sx-12">Lorem ipsum dolor sit amet consectetur adipiscing elit faucibus, 
    lectus eros senectus mi viverra commodo cras fames conubia, 
    litora posuere pulvinar mauris magna et vulputate. Metus blandit lobortis suspendisse primis sociosqu vulputate sapien, 
    quis conubia aenean tincidunt magnis posuere nunc commodo, suscipit mollis volutpat vehicula tristique eu.
     Senectus platea euismod eleifend dictum urna varius duis suscipit fusce laoreet egestas, lacus ligula consequat litora aliquam 
     phasellus rhoncus a velit porta bibendum, proin lectus rutrum tempus convallis id vestibulum hac aptent risus.</p>
</div>
